@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Kdam+Thmor+Pro&display=swap');

/* Fonst */
/* font-family: 'Chakra Petch', sans-serif;
font-family: 'Kdam Thmor Pro', sans-serif;  */ 

.navbar {
  background-color: #fff;
  border-bottom: 5px solid #fff;
  border-image: linear-gradient(to left, #3acfd5 0%, #3a4ed5 100%) 1;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

.navbar-nav a {
  border-bottom: 3px solid transparent;
}

.navbar-nav a.active {
  border-bottom: 3px solid #ff006e;
}

.navbar-nav a.active:hover {
  border-bottom: 3px solid #ff006e;
}

.navbar-nav a:hover{
  border-bottom: 3px solid #00b4d8;
  /* border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%) 1; */
}

.navbar .btn {
  clip-path: polygon(8px 0,100% 0,100% calc(100% - 8px),calc(100% - 8px) 100%,0 100%,0 8px);
  border-radius: 0;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

.navbar #btn-register:hover{
  background-color: #7209b7;
  color: #fff;
}

.navbar #btn-login{
  background-color: #4361ee;
  color: #fff;
}

.navbar #btn-login:hover{
  background-color: #2144e2;
  color: #fff;
}

/* Hero Styles */
#hero-container {
  height: 50vh;
}

#hero-bg,#hero-text {
  clip-path: polygon(100% 0, 100% 95%, 95% 100%, 0 100%, 0 0);
}

#hero-bg {
  background-image: linear-gradient(to left, #3acfd5 0%, #3a4ed5 100%);
  height: 100%;
  padding: 0 10px 10px 0;
}

#hero-text {
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(210,210,210,1) 100%);
  height: 100%;
}

#hero-text-bg{
  /* background-image: url(/img/index/bg-hero.webp);
  background-size: 100%;
  background-repeat: no-repeat; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Chakra Petch', sans-serif;
  position: relative;
}

#hero-text h2 {
  font-size: 72px;
  font-weight: 400;
}

#hero-text span {
  font-weight: bold;
  /* color: ; */
}

/* About Us styles */
.line-divided {
  height: 10px;
  background-color: #252525;
}

#aboutUs-container {
  margin: 40px 0;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/img/index/bg-aboutUs.webp);
  background-size: cover;
}

#aboutUs-container-img, #aboutUs-container-img img {
  clip-path: polygon(20px 0,100% 0,100% calc(100% - 20px),calc(100% - 20px) 100%,0 100%,0 20px);
}

#aboutUs-container-img {
  background: rgb(86,46,255);
  background: linear-gradient(90deg, rgba(86,46,255,1) 0%, rgba(227,95,255,1) 100%);
  height: 100%;
  width: 25%;
  margin-left: 50px;
  padding: 5px;
}

#aboutUs-container-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 1s;
}

#aboutUs-container-img img:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 13px 0px #000000;
  -webkit-box-shadow: 0px 0px 13px 0px #000000;
  animation: colorChange 2s infinite;
}

#aboutUs-container-line {
  background: linear-gradient(90deg, rgba(86,46,255,1) 0%, rgba(227,95,255,1) 100%);
  background-repeat: no-repeat;
  width: 25%;
  height: 5px;
  animation: bbackground-line 1s infinite ease-in-out;
  -webkit-animation: bbackground-line 1s infinite ease-in-out;
}

#aboutUs-container-bg, #aboutUs-container-text {
  clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 91%, 90% 100%, 10% 100%, 0 90%, 0 10%);
}

#aboutUs-container-bg {
  background: rgb(86,46,255);
  background: linear-gradient(90deg, rgba(86,46,255,1) 0%, rgba(227,95,255,1) 100%);
  background-repeat: no-repeat;
  padding: 10px;
  width: 40%;
  height: 100%;
  position: relative;
  animation: background-gradiante-animation 15s infinite ease-in-out;
  -webkit-animation: background-gradiante-animation 15s infinite ease-in-out;
}

#aboutUs-container-bg-figure {
  width: 100%;
  height: 100%;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

#about-figure-1, #about-figure-2, #about-figure-3, #about-figure-4 {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  position: absolute;
  background-color: #a2a2a2;
  width: 15px;
  height: 15px;
  z-index: 3;
}

#about-figure-1 {
  top: 40px;
  left: 40px;
}

#about-figure-2 {
  top: 40px;
  right: 40px;
}

#about-figure-3 {
  bottom: 40px;
  left: 40px;
}

#about-figure-4 {
  bottom: 40px;
  right: 40px;
}

#aboutUs-container-text {
  background: rgb(236, 236, 236);
  width: 100%;
  height: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Chakra Petch', sans-serif;
  text-align: center;
  z-index: 5;
}

#aboutUs-container-text h3{
font-weight: bold;
}

/* Types of products styles */
#type-container {
  height: auto;
  padding: 10px;
  background-color: #000000;
  background-image: url(/img/index/bg-type.webp);
  background-repeat: no-repeat;
  background-size: cover;
  transform-origin: center center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  animation: background-animation 15s infinite ease-in-out;
  -webkit-animation: background-animation 15s infinite ease-in-out;
  position: relative;
}

#type-container h3 {
  color: #fff;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 800;
  font-size: 50px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  position: absolute;
}


#type-container-ship {
  height: 50vh;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ship {
  width: 100%;
  height: 50%;
  background-image: url(/img/index/img-spaceship.webp);
  background-size: contain;
  background-repeat: no-repeat;
  animation: ship-animation 10s infinite ease;
}

#type-products {
  width: 40%;
  height: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(60px);
  gap: 10px;
}

#type-products img {
  width: 85%;
}

.product {
  clip-path: polygon(20px 0,100% 0,100% calc(100% - 20px),calc(100% - 20px) 100%,0 100%,0 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #ffffff3b;
}

.product-text {
  width: 100%;
  height: 100%;
  background-color: #55555595;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  opacity: 0;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  cursor: pointer;
}

.product-text h4 {
  color: #fff;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 32px;
  font-weight: 600;
}

.product-text:hover {
  opacity: 1;
}

/* Services Styles */
#services-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#services-title-bg {
  background: rgb(239,255,0);
  background: linear-gradient(90deg, rgb(255, 247, 0) 0%, rgba(255,160,0,1) 100%);
  background-size: 200% 200%;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  padding: 5px;
  animation: backgroud-animation-services 5s infinite ease;
  -webkit-animation: backgroud-animation-services 5s infinite ease;
}

#services-title {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 25px;
 
}

#services-title h2 {
  font-size: 36px;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: bold;
}

#services-bg {
  clip-path: polygon(20px 0,100% 0,100% calc(100% - 20px),calc(100% - 20px) 100%,0 100%,0 20px);
  background-color: #252525;
  margin-top: 50px;
  padding: 15px;
  width: 80%;
  height: 70vh;
}

#services-text {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: 'Chakra Petch', sans-serif;
}

#list-tab {
  font-size: 22px;
  font-weight: 800;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

#nav-tabContent {
  text-align: center;
  font-size: 20px;
  color: #fff;
  height: 100%;
  width: 70%;
  clip-path: polygon(20px 0,100% 0,100% calc(100% - 20px),calc(100% - 20px) 100%,0 100%,0 20px);
  position: relative;
}

.list-group {
  clip-path: polygon(20px 0,100% 0,100% calc(100% - 20px),calc(100% - 20px) 100%,0 100%,0 20px);
}

#list-navigation-list.active, #list-support-list.active, #list-delivery-list.active, #list-updates-list.active {
  background-color: #8338ec;
  border-color: #8338ec;
}

.list-group-item.active:hover {
  background-color: #652bb7;
  border-color: #652bb7;
}

.list-group-item:hover {
  background-color: #9f5bff;
}

#list-navigation, #list-support, #list-delivery, #list-updates {
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
}

.tab-pane.active {
  height: 100%;
}

#list-navigation {
  background-image: url(/img/index/img-services-1.webp);
}

#list-support {
  background-image: url(/img/index/img-services-2.webp);
}

#list-delivery {
  background-image: url(/img/index/img-services-3.webp);
}

#list-updates {
  background-image: url(/img/index/img-services-4.webp);
}

/* Animations */
@keyframes background-gradiante-animation {
  0% {
    background-size: 0%;
  }
  50% {
    background-size: 50%;
  }
  100% {
    background-size: 00%;
  }
}

@keyframes background-line {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 110%;
    background-position: 100%;
  }
  100% {
    background-size: 100%;
  }
}

@keyframes background-animation {
  0% {
    background-size: 100%;
    background-position: 25% 75%;
  }
  50% {
    background-size: 110%;
    background-position: 100%;
  }
  100% {
    background-size: 100%;
    background-position: 25% 75%;
  }
}

@keyframes ship-animation {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(100px) translateY(100px);
  }
  50% {
    transform: translateX(50px) translateY(100px);
  }
  75% {
    transform: translateX(100px) translateY(50px);
  }
  100% {
    transform: translateX(0);
  }

}

@keyframes backgroud-animation-services {
  0% { 
    background-position: 0% 0%; 
  }
  50% { 
    background-position: 100% 100%; 
  }
  100% { 
    background-position: 0% 0%; 
  }
}