@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Kdam+Thmor+Pro&display=swap');

/* Fonst */
/* font-family: 'Chakra Petch', sans-serif;
font-family: 'Kdam Thmor Pro', sans-serif;  */ 

.navbar {
  background-color: #fff;
  border-bottom: 5px solid #fff;
  border-image: linear-gradient(to left, #3acfd5 0%, #3a4ed5 100%) 1;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

.navbar-nav a {
  border-bottom: 3px solid transparent;
}

.navbar-nav a.active {
  border-bottom: 3px solid #ff006e;
}

.navbar-nav a.active:hover {
  border-bottom: 3px solid #ff006e;
}

.navbar-nav a:hover{
  border-bottom: 3px solid #00b4d8;
  /* border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%) 1; */
}

.navbar .btn {
  clip-path: polygon(8px 0,100% 0,100% calc(100% - 8px),calc(100% - 8px) 100%,0 100%,0 8px);
  border-radius: 0;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

.navbar #btn-register:hover{
  background-color: #7209b7;
  color: #fff;
}

.navbar #btn-login{
  background-color: #4361ee;
  color: #fff;
}

.navbar #btn-login:hover{
  background-color: #2144e2;
  color: #fff;
}

/* Hero Styles */
#hero-container {
  position: relative;
}

